@import "../variables";

.wrapper-content-archives {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.container-project-archives {
  width: calc(50% - 5px);
  height: calc(50vw - 25px);
  background-color: $second-background;
  margin-bottom: 0px;
}

.contnr-clr2 {
  background-color: $third-background;
}
