@import "./variables";

.heading-home {
  width: 100%;
  //   border: 1px solid red;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 97vh;
}

.aka-heading {
  padding-left: calc(8.33vw - 10px);
  width: calc(100% - 0px);
  margin-top: -2px;
  position: relative;
  left: -3px;
}

.logo-donloulou-heading {
  width: 97%;
  margin-top: 10px !important;
}

.container-hover-loulou {
  margin-left: calc(70% - 10px);
  margin-top: 50px;
  //   border: 1px solid red;
  //   padding: 5px 5px 5px 5px;
}

.photo-link-home {
  width: fit-content;
  text-align: center;
}

.trademark-donloulou {
  //   margin-top: 15vh;
  width: 5.5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.transition-description-donloulou-heading {
  text-align: center;
  //   margin-top: 28vh;

  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-family: "Stamina Light";
  position: absolute;
  bottom: 10px;
}

.container-image-hover-heading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  transition: opacity 0s;
  pointer-events: none;
  z-index: 999;
  img {
    width: 40%;
    top: 47%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    height: auto;
  }
}

.hover-donloulou {
  opacity: 1;
  transition: opacity 0.4s $easeOut;
}

.container-img-links-heading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -99;
  pointer-events: none;
  img,
  video {
    width: 35%;
    position: absolute;
  }

  .img-stamina-heading {
    left: 10%;
    top: 15%;
    width: 35%;
  }

  .img-emk-heading {
    left: 60%;
    top: 10%;
    width: 25%;
  }
  .img-openai-heading {
    right: 5%;
    top: 17%;
    width: 25%;
  }
  .img-memoriae-heading {
    left: 5%;
    top: 25%;
    // width: 25%;
  }
}

.appear-image-heading-stamina {
  opacity: 1;
  z-index: 99;

  .img-emk-heading {
    display: none;
  }

  .img-openai-heading {
    display: none;
  }

  .img-memoriae-heading {
    display: none;
  }
}

.appear-image-heading-emk {
  opacity: 1;
  z-index: 99;

  .img-stamina-heading {
    display: none;
  }

  .img-openai-heading {
    display: none;
  }

  .img-memoriae-heading {
    display: none;
  }
}

.appear-image-heading-openai {
  opacity: 1;
  z-index: 99;

  .img-stamina-heading {
    display: none;
  }

  .img-emk-heading {
    display: none;
  }

  .img-memoriae-heading {
    display: none;
  }
}

.appear-image-heading-memoriae {
  opacity: 1;
  z-index: 99;

  .img-stamina-heading {
    display: none;
  }

  .img-emk-heading {
    display: none;
  }

  .img-openai-heading {
    display: none;
  }
}

@media (max-width: 800px) {
  .heading-home {
    height: auto;
  }
  .container-hover-loulou,
  .photo-link-home {
    display: none;
  }

  .aka-heading {
    width: fit-content;
    margin-left: 0;
    margin-top: 5px;
    padding: 0;
  }

  .logo-donloulou-heading {
    width: 95%;
  }

  .transition-description-donloulou-heading {
    top: 13vh;
    bottom: auto;
    font-size: 18px !important;
  }

  .trademark-donloulou {
    width: 15vw;
    top: 40vh;
    left: 50%;
  }

  .container-image-hover-heading {
    opacity: 1;
    position: relative;
    // border: 1px solid red;
    height: fit-content;
    padding: 0;
    margin-top: 55vh;
    display: block;

    img {
      position: relative;
      display: block;
      width: 100vw;
      margin-left: -10px;
      top: 0%;
      left: 0%;
      transform: translate(-0%, -0%);
    }
  }

  .container-img-links-heading {
    display: none;
  }
}
