.new-message-wrapper {
  margin-left: calc(8.33vw - 10px);
  //   width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: -2;

  .button-new-message {
    width: calc(41.667vw + 5px);
    .h3 {
      font-family: "Stamina Light Italic";
    }
  }
}

.container-message {
  width: calc(35.33% - 10px);
  height: 40vh;
  //   border: 1px solid red;
  overflow: hidden;
  position: relative;

  .item-link {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    transition: opacity $short $easeOut;
    border-bottom: none;

    &:hover {
      opacity: 0.3;
      transition: opacity $short $easeOut;
    }
  }
}

.gradient-hidder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: $lineargradientmessage;
}

.buttonmoremessage {
  opacity: 1;
}

.downmessage {
  overflow: visible;
  height: fit-content;
  padding-bottom: 10vh;

  .gradient-hidder {
    opacity: 0;
  }

  .buttonmoremessage {
    display: none;
  }
}

@media (max-width: 800px) {
  .new-message-wrapper {
    flex-direction: column;
    margin-left: 0;
    margin-top: 10px;
    padding: 30px 20px;

    .button-new-message {
      width: 100%;
    }
  }

  .container-message {
    margin-top: 50px;
    width: 100%;

    .item-link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      //   position: relative;
      right: 30px;
      bottom: 20px;
      span {
        top: -1px;
        left: 5px;
      }
    }
  }

  .downmessage {
    .buttonmoremessage {
      display: none !important;
    }
  }
}
