.item-link {
  font-weight: 800;
  height: fit-content !important;
  text-transform: uppercase;
  color: currentColor;
  text-decoration: none;
  line-height: 100%;
  font-size: calc(
    16px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  outline: 0;
  padding-bottom: 2px;
  cursor: pointer;
  font-family: "Stamina" !important;
  color: $type-color;

  &:hover,
  &:active {
    outline: 0;
    border-bottom: 1px solid currentColor;
  }

  span {
    font-size: calc(
      30px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
    );
    position: relative;
    top: 4px;
    left: 5px;
    font-weight: 400;
  }
}

.underlined {
  outline: 0;
  text-decoration: none;
  color: currentColor;
  position: relative;

  &::after {
    content: "";

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 3px;

    border-width: 0 0 1px;
    border-style: solid;
  }
}

.underlined2 {
  outline: 0;
  text-decoration: none;
  color: currentColor;
  position: relative;

  &::after {
    content: "";

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;

    border-width: 0 0 1px;
    border-style: solid;
  }
}

.italic {
  font-family: "Stamina Light Italic";
}

.aka-heading {
  font-size: calc(
    26px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-weight: 800;
  text-transform: uppercase;
  line-height: 80%;
  letter-spacing: -0.02em;
  color: $type-color;
}

.h1-subpage-type {
  font-size: calc(
    210px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 120
  );
  letter-spacing: -0.025em;
  line-height: 100%;
  font-weight: 800;
  text-transform: uppercase;
  color: $type-color;
}

.h3 {
  font-size: calc(
    30px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-family: "Stamina Light";
  font-weight: 300;
  letter-spacing: -0.01em;
  color: $type-color;

  span {
    font-family: "Stamina Light Italic";
  }
}

.h3-type2 {
  font-size: calc(
    30px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-weight: 400;
  color: $type-color;
}

.h4 {
  font-size: calc(
    26px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-family: "Stamina";
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 80%;
  color: $type-color;
}

.h4-type2 {
  font-size: calc(
    30px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-family: "Stamina Light";
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 150%;
}

.h5 {
  font-size: calc(
    28px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-family: "Stamina Light";
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 150%;
}

p {
  font-size: calc(
    19px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $type-color;
}

a {
  color: currentColor;
  color: $type-color;
}

.bold {
  font-weight: 800;
}

.link-lineheight {
  line-height: 250%;
  color: $type-color;
}

@media (max-width: 800px) {
  .item-link {
    font-size: 10px;
    letter-spacing: 0.02em;
  }

  .h1-subpage-type {
    font-size: 72px;
  }

  .h3 {
    font-size: 24px;
  }

  .h4-type2 {
    font-size: 18px;
  }

  .h3-type2 {
    font-size: 18px;
  }

  .h4 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  .brnone {
    display: none;
  }
}
