$background: #e4e1dc;
$second-background: #dcd7d0;
$line-color: #ccc6bd;
$type-color: #000;
$second-type-color: #ffffff;
$third-type-color: #8e8e8e;
$difference: #fff;
$light-content-background: #f0edea;
$linear-dark-memoriae: linear-gradient(
  340.67deg,
  #042d3a -3.04%,
  #0b0b0b 80.08%
);
$dot-info: red;
