.heading-vision {
  h1 {
    margin-top: 20vh;
  }
  p {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .heading-vision {
    p {
      width: 100%;
      text-align: left;
      margin-top: 45vh;
    }
  }
}
